BasedOnStyle: LLVM
IndentWidth: 2
Language: Cpp

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline

AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
PointerAlignment: Left
